
@colorbase : #1c1565;
@colorsegundo: #000;
@opacidad: 80;

.opacidadlink(@opacidad){
filter:alpha(opacity=@opacidad);
-moz-opacity: 1.0;  
opacity: 0.5;
-khtml-opacity: 1.0; 
}

.menutransparente(){
	background-color: rgba(120, 159, 198, 0.8);
	background: rgba(120, 159, 198, 0.8);
}

.transiciontexto(){
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.gradienteazul(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282769+31,23538a+52,23538a+52,282769+100 */
background: #282769; /* Old browsers */
background: -moz-linear-gradient(left,  #282769 31%, #23538a 52%, #23538a 52%, #282769 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(31%,#282769), color-stop(52%,#23538a), color-stop(52%,#23538a), color-stop(100%,#282769)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #282769 31%,#23538a 52%,#23538a 52%,#282769 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #282769 31%,#23538a 52%,#23538a 52%,#282769 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #282769 31%,#23538a 52%,#23538a 52%,#282769 100%); /* IE10+ */
background: linear-gradient(to right,  #282769 31%,#23538a 52%,#23538a 52%,#282769 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282769', endColorstr='#282769',GradientType=1 ); /* IE6-9 */

}

.gradienteazul2(){
background: rgba(255,37,8,0.94);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,37,8,0.94) 0%, rgba(246,41,12,0.94) 0%, rgba(240,47,23,0.94) 0%, rgba(28,21,101,0.94) 0%, rgba(40,39,105,1) 61%, rgba(40,39,105,1) 66%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,37,8,0.94)), color-stop(0%, rgba(246,41,12,0.94)), color-stop(0%, rgba(240,47,23,0.94)), color-stop(0%, rgba(28,21,101,0.94)), color-stop(61%, rgba(40,39,105,1)), color-stop(66%, rgba(40,39,105,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,37,8,0.94) 0%, rgba(246,41,12,0.94) 0%, rgba(240,47,23,0.94) 0%, rgba(28,21,101,0.94) 0%, rgba(40,39,105,1) 61%, rgba(40,39,105,1) 66%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,37,8,0.94) 0%, rgba(246,41,12,0.94) 0%, rgba(240,47,23,0.94) 0%, rgba(28,21,101,0.94) 0%, rgba(40,39,105,1) 61%, rgba(40,39,105,1) 66%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,37,8,0.94) 0%, rgba(246,41,12,0.94) 0%, rgba(240,47,23,0.94) 0%, rgba(28,21,101,0.94) 0%, rgba(40,39,105,1) 61%, rgba(40,39,105,1) 66%);
background: radial-gradient(ellipse at center, rgba(255,37,8,0.94) 0%, rgba(246,41,12,0.94) 0%, rgba(240,47,23,0.94) 0%, rgba(28,21,101,0.94) 0%, rgba(40,39,105,1) 61%, rgba(40,39,105,1) 66%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2508', endColorstr='#282769', GradientType=1 );
}